.bibtex-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.bibtex-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  border-radius: 5px;
}

.bibtex-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.bibtex-close:hover {
  color: black;
}

.bibtex-content {
  background-color: #f5f5f5;
  padding: 10px;
  overflow-x: auto;
  white-space: pre-wrap;
  border: 1px solid #ddd;
  font-size: 16px;
  border-radius: 3px;
}
